<h1>My Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= check_box_tag "completed []", task.id, task.completed %>
      <%= link_to task.title, task_path(task) %>
    </li>
  <% end %>
</ul>
<br>
<%= link_to "➕ Add new task", new_task_path %>
